@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bf-blue: #0f65ef;
  --color-bf-red: #ee3322;
  --color-bf-green: #68af15;
  --color-bf-orange: #f47f16;
  --color-bf-gray-dark: #222222;
  --color-bf-gray-medium: #aaaaaa;
  --color-bf-gray-light: #f4f4f4;
  --font-sans: "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-display: var(--font-calistoga);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
